/* stylelint-disable selector-class-pattern */
.results {
  button.refresh,
  button.copy,
  button.searchBy {
    display: block !important;
    opacity: 0.6;
    transition: opacity 0.2s ease;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

/* stylelint-enable selector-class-pattern */
