{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-mirego"],
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {"ignorePseudoClasses": ["global"]}],
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["if", "include", "mixin", "for"]}],
    "scss/no-global-function-names": null
  }
}
